.title {
    text-align: center;
    margin-top: 30px;
    font-size: 1.1em;
    height:10%
}

.icon-button {
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
